<header style="display: flex; padding: 3.5vh; justify-content: space-between; border-bottom: 2px solid #001C43;">
    <section>
        <h4 style="color: #ffff; font-size: 35px;">Bienvenido a Airbeat</h4>
    </section>
    <section>
        <button> <a [routerLink]="['/login-page']" routerLinkActive="router-link-active"  style="text-decoration: none; color: inherit;"> Airbeat Premium</a> </button>
        <button> <a [routerLink]="['/login-page']" routerLinkActive="router-link-active" style="text-decoration: none; color: inherit;">Iniciar Sesión</a></button>
    </section>
</header>
<section style="margin: 10px;">
<H2 style="color: #ffff; font-size: 25px;">Top en tendencias </H2>
</section>


