<header style="display: flex; padding: 3.5vh; justify-content: space-between; border-bottom: 2px solid #001C43;">
    <section>
        <h4 style="color: #ffff; font-size: 35px;">Bienvenido a Airbeat</h4>
    </section>
    <section>
        <button><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                class="bi bi-lightning-charge-fill" viewBox="0 0 16 16">
                <path
                    d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z" />
            </svg> <a [routerLink]="['/login-page']" routerLinkActive="router-link-active"
                style="text-decoration: none; color: inherit;"> Airbeat Premium</a> </button>
        <button> <svg style="margin: 5px;" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
            </svg> <a [routerLink]="['/login-page']" routerLinkActive="router-link-active"
                style="text-decoration: none; color: inherit;">Iniciar Sesión</a></button>
    </section>
</header>
<section style="margin: 10px;" class="cont__recientes">
  <H2 style="color: #ffff; font-size: 25px;">Top en tendencias </H2>
  <section class="cont__cards">
    @for(song of cancionesPredeterminadas; track song._id){
    <section class="cards cardsalbums" #cartaDiv>
      <img class="img-card"
        style="height: 100%; width:100%; border-radius: 10px;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;"
        src="{{song.img_urls.img_url_300}}" alt="">
      <article class="text__card">
        <p class="p-grid-style"
          style=" color: aliceblue; font-size: 19px; font-weight: bold; width: 11rem; white-space: nowrap; overflow:hidden ; text-overflow: ellipsis;">
          {{song.name_track}}</p>
        <p class="p-grid-style-c" style="color: aliceblue; font-size:14px ;">{{song.artist}}</p>
      </article>
    </section>
    }
  </section>
</section>
