.cont__gen{
    display: grid;
    height: 100vh;
    padding-right: 7px;
    grid-template-columns: 19vw auto;
    grid-template-rows: 89% auto;
    column-gap: 5px;
    background: #001c43;
    overflow-x: hidden;
    overflow-y: hidden;
}
.contendor__navbar{
    width: auto;
    height: 86.5vh;
}
.footer{
  height: 2rem;
    grid-row: 2/3;
    grid-column: 1/3;
    height: 2rem;
}


@media screen and (min-width: 1400px) and (max-width:  1920px) {

    .cont__gen{
        grid-template-rows: 23vw 77vw;
        grid-template-columns: 19vw 81vw;
    }
    .contendor__navbar{
        width: auto;
        height: 86.5vh;
    }
    .navegacion__inicio {
      row-gap: 5px;
    }
  }


  @media screen and (min-width: 1200px) and (max-width:  1400px) {

    .cont__gen{
        grid-template-columns: 24vw 76vw;
    }


  }


  @media screen and (min-width: 1000px) and (max-width:  1200px) {

    .cont__gen{
        grid-template-columns: 28vw 72vw;
    }


  }

  @media screen and (min-width: 768px) and (max-width:  1000px) {

    .cont__gen{
        grid-template-columns: 32vw auto;
    }
  }
  @media screen and (min-width: 300px) and (max-width:  768px) {

    .cont__gen{
      padding-left: 6px;
      grid-template-columns: 8vw auto;
    }
  }








