.body{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 70%;
    grid-template-rows: auto;
    width: 100vw;
    height: 100vh;
}

p{
    margin: 0;
}

.contenedor{
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.login{
    height: auto;
    display: grid;
    grid-template-rows: 3rem auto auto;
    padding: 23px 20px;
    padding-bottom: 0;
    row-gap: 10px;

}

.infoInicio{
    display: grid; align-content: center; justify-content: center; row-gap: 15px
}

.iniciar-sesion{
    height: 2.7rem;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3px;
}

.boton-iniciar{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom:3px solid rgb(189, 185, 185);
    transition: all 0.2s;
}

.btn-iniciar:hover{
    border-bottom: 3px solid #372A8C
}

.btn-registrar:hover{
    border-bottom: 3px solid #372A8C
}

.colorMorado{
    color: #1b1355;
    border-bottom: 3px solid #372A8C;
}

.inicio-icono{
    width: 20px ;
}

.separator{
    display: flex;
    width: 100%;
    gap: 15px;
}

.separator hr{
    width: 100px;
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.separator span{
    color: #8b8b8b;
}

.label-c input{
    border: none;
    border-radius: 4px;
    background-color:#f3f3f4;
    padding: 8px 16px;
    transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}

.label-c input:hover{
    background-color: white;
    border: solid 2 px #f3f3f4;
    box-shadow: 0 0 5px #372A8C;
}

.label-c input:focus{
    background-color: white;
    border: solid 2 px #f3f3f4;
    box-shadow: 0 0 5px #372A8C;
    outline: none;
}

.btn-submit{
    background-color: #1d1552;
    color: white;
    font-weight: 500;
    font-size: 12pt;
    text-align: center;
    width: 15rem;
    padding: 10px 0px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.a-pass{
    color: #a7a6a6;
    text-decoration: none;
    cursor: pointer;
    align-self: center;
}

.a-pass:hover{
    color: #777676;
    text-decoration: underline;
}

.logo-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.displayInicio{
    display: grid;
    
}

.displayInicioNone{
    display: none;
}

.displayRegistro{
    display: grid;
} 

@media screen and (min-width:1780px) and (max-width:1920px) {
    .logo-c{
        padding-bottom: 10px;
        position: relative;
    }
    .ul{
        position: absolute !important;
        transform: translateY(19.6rem) ;
        right: 42% !important;
    }
    


}


@media screen and (min-width:1580px) and (max-width:1780px) {
    .logo-c{
        padding-bottom: 10px;
        position: relative;
    }
    .ul{
        position: absolute !important;
        transform: translateY(19.6rem) ;
        right: 42% !important;
    }


}




@media screen and (min-width:961px) and (max-width:1130px) {
    .parrafo{
        font-size: 15px !important ;
        position: relative;
        top: 10px;
    }
    .iconos-redes{
        width: 1rem !important;
        height: 1rem !important;
    }
    .redes{
        position: relative;
        top: 3rem !important;
    }
}



@media screen and (min-width:800px) and (max-width:960px){
    .parrafo{
        font-size: 13px !important ;
        position: relative;
        top: 10px;
    }
    .redes{
        position: relative;
        top: 3rem !important;
    }
}

@media screen and (min-width:400px) and (max-width:800px){
    .logo-c{
        display: none;
    }
    .contenedor{
        display: grid;
        grid-template-columns:100% ;
    }
}






