<section class="contedorperfil">

    <section class=" perfilup">
        <img class="imgperfil" src="https://static.vecteezy.com/system/resources/previews/009/734/564/non_2x/default-avatar-profile-icon-of-social-media-user-vector.jpg" alt="foto de perfil ">
        <h1 style="color: #fff;">user1233455</h1>
    </section>
    <section class="secdw">
        <form class="form">
            <h3 class="message">Edita tus datos facilmente. </h3>
            <label for="recipient-name">Nombre:</label>
            <input type="text" name="nombre" value="Juan Pérez">
            <label for="recipient-name">Apelldo:</label>
            <input type="text" name="apellido" value="García">
            <label for="recipient-name">Correo:</label>
            <input type="email" name="correo" value="juan.perez@example.com">
            <label for="recipient-name">Nueva contraseña:</label>
            <input type="password" name="contraseña" value="123456">
            <section style="display: flex; margin-top: 8px;">
                <button class="submit">Aceptar Cambios </button>
                <button class="submit">Descartar </button>
            </section>

        </form>
        <section class="temasderecha">
            <h2>Preguntas frecuentes </h2>
            <ul>
                <li> <a href="">¿Como genero una playlist?</a></li>
                <li><a href=""> ¿Cómo puedo encontrar música nueva?</a></li>
                <li><a href="">¿Cómo puedo cambiar mi configuración?</a></li>
                <li><a href="">Qué significa el mensaje "Esta canción no está disponible"</a></li>
                <li> <a href="">¿Como puedo buscar un album?</a></li>
            </ul>
        </section>
    </section>
</section>