<main class="container position-absolute">
    <aside>
        <div class="menu">
            <a href="#"><span><img class="home" src="../../../assets/img/HOME8-casa (2).png" alt=""></span>Start</a>
            <a href="#"><span><img src="../../../assets/img/icons8111-búsqueda.png" alt=""></span>Buscar</a>
            <a href="#"><span><img src="../../../assets/img/icons89977-libros-48 (1).png" alt=""></span>Tu coleccion</a> <br>
            <a href="#"><span><img src="../../../assets/img/icons8-más-2-matemáticas-32.png" alt=""></span>Tu play list</a>
            <a href="#"><span><img src="../../../assets/img/icons8-favorito-50 (2) (1).png" alt=""></span>tus favoritos</a>
        </div>
    </aside>
</main>