.main{
  height: 100%; 
  margin-top: 7px;
}

.contenedor__gen {
  display: grid;
  grid-template-rows: 15% auto;
  row-gap: 3px;
  height: 100%;
}

p {
  margin: 0;
}

.navegacion__inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #262473;
  border-radius: 7px;
  row-gap: 7px;
  padding: 0;
}

.cont__input {

  display: flex;
  align-items: center;
  height: 2.5rem;
  column-gap: 10px;
  cursor: pointer;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #393785;
}

.inpu__in {
  height: 2.5rem;
  color: aliceblue;
  background-color: #393785;
  border: none;
  outline: none;


}

.inpu__in::placeholder {
  color: aliceblue;
}


.btn__cont {
  display: flex;
  height: 2.6rem;
  width: 17rem;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  background-color: #393785;

}

.button {
  font-size: 19px;
  background-color: #393785;
  color: aliceblue;
  border: none;
  outline: none;
  border-radius: 7px;
  height: 2.3rem;

}


.aside {
  display: grid;
  row-gap: 7px;
  grid-template-rows: 13% auto;
  border-radius: 7px;
  background-color: #262473;
  padding: 15px;
  width: 100%;
}

.categorias {
  display: flex;
  flex-direction: column;
  height: 5rem;
  row-gap: 10px;
}

.cate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  color: aliceblue;
  cursor: default;

}

.btnPlus{
  background-color: #262473;
  color: aliceblue;
  border: none;
  outline: none;
}

.cont__gen_opcion {
  background-color: #393785;
  padding: 10px;
  border-radius: 7px;
}

.cont_opciones {
  display: flex;
  height: 3rem;
  padding: 10px;
  background-color:#393785 ;
  column-gap: 8px;
  border-radius: 7px;
  align-items: center;
  color: aliceblue;

}

.cont__categorias {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #393785;
  border-radius: 20px;
  height: 2rem;
  width: 5rem;
  cursor: pointer;

}

.cont__categorias:hover {
  background-color: #1c1a4d;
}

.cont__input__dos {
  height: 1.7rem;
  width: 11rem;
}

.input__dos {
  height:3rem;
  width: 100%;
}

.cont__playAlb {
  display: flex;
  flex-direction: column;
  column-gap: 3p;
  margin-top: 3px;
  overflow-y: hidden;
  height: 95.5%;
}

.contendor__card {
  display: flex;
  align-items: center;
  position: relative;
  height: 3.8rem;
  column-gap: 10px;
  padding: 5px;
  border-radius: 8px;

}
.btnClose{
  position:absolute;
  background-color: rgb(28, 26, 77, 0.5);
  border-radius: 30px;
  padding: 2px 6px;
  border: none;
  outline: none;
  right: 1px;
}

.contendor__card:hover {
  background-color: #1c1a4d;
}

p {
  margin: 0;
}

.text__cont {
  color: aliceblue;
}
@media screen and (min-width: 1438px) and (max-width:  1600px) {
  .btn__cont{
    width: 15rem;
  }
}


  @media screen and (min-width: 983px) and (max-width:  1438px) {
    .btn__cont{
      width: 15rem;
    }
  }

  @media screen and (min-width: 900px) and (max-width:  1100px) {
    .p-playlist{
      font-size: 16px;
    }

    .p-playlist-c{
      font-size: 11px !important;
    }
  }

  
  @media screen and (min-width: 900px) and (max-width:  1100px) {
    .img_play{
      align-self: center;
      height: 44px !important;
      width: 44px !important;
    }
    .btn__cont{
      width: 14rem;
    }
    .p-playlist{
      font-size: 16px;
    }

    .p-playlist-c{
      font-size: 11px !important;
    }
  }
  @media screen and (min-width: 766px) and (max-width:  900px) {
    .img_play{
      align-self: center;
      height: 40px !important;
      width: 40px !important;
    }
    .btn__cont{
      width: 12rem;
    }
    .p-playlist{
      font-size: 15px;
    }

    .p-playlist-c{
      font-size: 10px !important;
    }


  }

  @media screen and (min-width: 500px) and (max-width:  768px) {

    .contenedor__gen{
      align-items: start;
      grid-template-rows: 100%;
    }

    .aside{
      display: none;
    }
    .img_play{
      align-self: center;
      height: 40px !important;
      width: 40px !important;
    }
    .btn__cont{
      width: 2rem;
      height: 2rem;
    }
    .p-playlist{
      font-size: 15px;
    }

    .p-playlist-c{
      font-size: 10px !important;
    }

    .navegacion__inicio{
      padding-top:10px ;
      display: flex;
      justify-content: start;
      height: 100%;
    }


  }


