:root{
    --padding: 10px 20px;
    --radius: 10px;
  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    position: relative;
    height: 100%;
    display: flex;
}
.container aside{
     /* width: 20%;  */
    height:100vh;
    background-color: #022626;
    /* padding: var(--padding);*/
   
}
.container aside .menu{
    display: flex;
    flex-direction: column;
}
.container aside .menu a{
    text-decoration: none;
    padding: 10px 1rem;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container aside .menu a span{
    margin-right: 8px;
}
.container aside .menu a.active{
    background-color: #372A8C;
    border-radius: 5px;
    color: #ffffff;
    
}
.container aside .menu a:hover{
    color: #C4E5f2;
}