<div style="display:flex; flex-direction: column;  padding: 15vh;">
    <section style="flex: 1; display: flex; align-items: center; justify-content: center;">
        <div style="text-align: center;">
            <svg style="height: 20vh; width: auto; color: #fff; margin: 8px;" xmlns="http://www.w3.org/2000/svg"
                width="16" height="16" fill="currentColor" class="bi bi-emoji-dizzy" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path
                    d="M9.146 5.146a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708m-5 0a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 1 1 .708.708l-.647.646.647.646a.5.5 0 1 1-.708.708L5.5 7.207l-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zM10 11a2 2 0 1 1-4 0 2 2 0 0 1 4 0" />
            </svg>
            <h5 style="color: #fff;">Oh no, parece que algo no marcha bien</h5>
            <div class="container mt-4">
                <ul style="color: #fff;">
                    <li class="list-group-item">Contactanos para obtener más información:<a
                            href="mailto:support@airbeat.com">support-airbeat</a></li>
                    <li class="list-group-item">Por favor revisa tu conexión a Internet</li>
                    <li class="list-group-item">Intenta recarga la página</li>
                </ul>

            </div>
            <button href="#" style="justify-content: center; align-items: center; border: none;
            outline: none;
            border-radius: 8px;
            width: 50%;
            height: 4vh;
            color: #fff;
            font-size: 18px;
            transform: .3s ease;
            margin: 2px;
            background-color: #00bfff;" (click)="recargarPagina()">Recargar</button>
        </div>
    </section>
</div>