.fondoAlbum{
    background-color: #262473;
    padding: 10px;
    border-radius: 5px;
}
.list-group-item{
    background-color:transparent;
    color: white;
    border-color: rgba(255, 255, 255, 0.288);
}
.h2{
    color: white;
}
.text-album{
    color: rgba(255, 255, 255, 0.659);
}