body,
html {
    margin-top: 7px;
    padding: 3px;
    background-color: #262473;
    border-radius: 7px;
    height: 86.5vh;
    width: 100%;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 100%;
    height: 84.3vh;
    border-radius: 10px;

}
.canciones_playlist{
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    background-color:#393785 ;
    border-radius: 10px;
    padding: 10px;
    row-gap: 3px;
    height: 100%;
}

.canciones_playlist::-webkit-scrollbar {
    width: 2px; /* Ancho del scrollbar */
  }
  
  /* Flecha/Manija en el scrollbar */
.canciones_playlist::-webkit-scrollbar-thumb {
    background-color: #554b97; /* Color de la manija del scrollbar */
    border-radius: 5px; /* Radio de borde para la manija */
  }
  
  /* Track (rastro) del scrollbar */
.canciones_playlist::-webkit-scrollbar-track {
    background-color: #372A8c; /* Color del rastro del scrollbar */
  }


.fila-superior {
    display: flex;
    align-items: flex-start;
    column-gap: 15px;
    width: 100%;
}

.cuadro-color {
    width: 200px;
    height: 200px;
    background-color: #262473;
    background-size: cover;
    background-position: center;
}

.contenedor-buscador-botones {
    display: grid;
    grid-template-columns: 38% auto;
    grid-template-rows: 30% auto;
    width: calc(100% - 220px);
    /* Ajustar al ancho del cuadro de color más el espacio */
    height: 12.5rem;
}

.contenedor_carta {
    display: flex;
    grid-row: 2/3;
    background-color: #393785;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    row-gap: 10px;
    height: 100%;
    width: 100%;
}
/* Ancho y grosor del scrollbar */
.contenedor_carta::-webkit-scrollbar {
    width: 2px; /* Ancho del scrollbar */
  }
  
  /* Flecha/Manija en el scrollbar */
.contenedor_carta::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Color de la manija del scrollbar */
    border-radius: 5px; /* Radio de borde para la manija */
  }
  
  /* Track (rastro) del scrollbar */
.contenedor_carta::-webkit-scrollbar-track {
    background-color: #372A8c; /* Color del rastro del scrollbar */
  }
  

.nombre_cancion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: azure;
    align-content: center;


}
.cont_carta {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px ;
    border-radius: 5px;
    height: 3rem;
}
.cont_carta:hover{
    background-color: #1c1a4d;
}

.buscador-derecho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#busquedaCancion {
    height: 50px;
    padding: 10px;
    font-size: 1em;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 15px;
    color: #fff;
    background-color: #393785;
}


#botonBuscar {
    height: 50px;
    background-color: #262473;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 0 20px;
    cursor: pointer;
    font-size: 1em;
}

#botonBuscar:hover {
    background-color: #1c1a4d;
}

.botones-playlist {
    display: flex;
    gap: 10px;
}

.fa-pen-to-square{
    cursor: pointer;
}

.botones-playlist button {
    background-color: #262473;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1em;
}

.botones-playlist button:hover {
    background-color: #192178;
}

#botonEliminar {
    background-color: #f44336;
}

#botonEliminar:hover {
    background-color: #d32f2f;
}

.playlist-editor {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    /* Ajustar al padding del contenedor */
    height: auto;
    max-height:36rem;
    background-color:transparent;
    margin-top: 10px;
    border-radius: 5px;
    color: #fff;
}

.namePlaylist{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    column-gap: 20px;
    background-color:#393785 ;

}
.img_carta{
    display: flex;
    column-gap: 13px;
}

#tituloPlaylist {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #2d2f71;
}
.cont__user{

    display: flex;
    justify-self: end;
    grid-column: 2/3;
    align-items: center;
    position: relative;
    top: 6px;
    column-gap: 2px;
    border-radius: 30px;
    background-color: #393785;
    padding: 10px;
    padding-right: 20px;
    height: 2.6rem;
    width: 10rem;
    cursor: pointer;
}

.cont__user:hover{
    background-color: #1f1e47;
}
.btn__in{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 2.2rem;
    width: 2.2rem;
    border: none;
    outline: none;
    background-color:#393785;
}
.btn__in:hover{
    background-color: #1f1e47;
}

#botonAgregar{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 13px;
    height: 1.7rem;
    width: auto;
    padding: 10px;
    background-color: #192178;
    border-radius: 20px;
    border: none;
    outline: none;

}

.cont_carta_dos{
    height: 4rem;

}

.btn__secundarias{
    display: flex;
    position: relative;
    left: 28px;
    opacity: 0; 
    justify-content: center;
    position: absolute;
    align-items: center;
    background-color: rgb(78, 76, 139, 0.4);
    border-radius: 5px;
    width: 3.18em;
    height: 0;
    border: none;
    outline: none;

    
}
.cont_block_secundarias{
    opacity: 1;
    height: 3.12rem;
    transform: scaleY(1);
    transition: all 0.4s ease;
}

.cambioNombre{
    width: 7rem;
    height: 2.3rem !important;
    background-color: #262473 !important;
}

@media screen and (min-width: 1450px) and (max-width:  1600px) {
    #botonAgregar{
        font-size: 12px;
    }
    .nombreCancion{
        font-size: 14px !important;
    }

    .nombreArtist{
        font-size: 12px !important;
    }
}

@media screen and (min-width: 1250px) and (max-width:  1450px) {
    .contenedor-buscador-botones{
        grid-template-columns: 45% auto;
    }
    #botonAgregar{
        font-size: 11px;
    }

}

@media screen and (min-width: 900px) and (max-width:  1250px) {
    .contenedor-buscador-botones{
        grid-template-columns: 75% auto;
    }
    #botonAgregar{
        font-size: 11px;
    }
    .p-user{
        display: none;
    } 
    .cont__user{
        width: auto;
        padding: 2px;
        top: 0;
    }

}

@media screen and (min-width: 768px) and (max-width:  1000px) {
    .contenedor-buscador-botones{
        grid-template-columns: 88% auto;
    }
    #botonAgregar{
        font-size: 11px;
    }
    .p-user{
        display: none;
    } 
    .cont__user{
        width: auto;
        padding: 2px;
        top: 0;
    }
    .nombreCancion{
        font-size: 12px !important;
        width: 6rem !important;
    }

    .nombreArtist{
        font-size: 10px !important;
    }

}

@media screen and (min-width: 400px) and (max-width:  768px) {
    .contenedor-buscador-botones{
        grid-template-columns: 88% auto;
    }
    #botonAgregar{
        font-size: 11px;
    }
    .p-user{
        display: none;
    } 
    .cont__user{
        width: auto;
        padding: 2px;
        top: 0;
    }
    .nombreCancion{
        font-size: 15px !important;
        width: 10rem !important;
    }

    .nombreArtist{
        font-size: 12px !important;
    }

}