.cont__gen{
    display: grid;
    height: 100vh;
    padding-right: 7px;
    grid-template-columns: 19.5% 80.5%;
    grid-template-rows: 100%;
    column-gap: 13px;
    background: #001c43;
    overflow-x: hidden;
}
.search-cont{
    background-color :#262473 ;
    margin-top: 7px;
    margin-right: 14px;
    border-radius: 10px;
    row-gap: 10px;
    width: auto;
    height: 98%;
}


.contendor__navbar{
    width: auto;
    height: 98%;
}




